<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" id="page-header">Audit</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-home fa-fw"></i> <h2>Circles audit</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <p>The financials of MoneyCircles are governed by incorruptible smart contracts on a blockchain. You can regard MoneyCircles as a glass bank: everybody can see what's going on inside, but no one can act in ways that are not allowed by the contracts. Not even us.</p>
                    <p>This public audit allows everyone to inspect the financial streams within MoneyCircles. All amounts are in GBP.</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#help">Help</button>
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#tech-info">Technical info</button>
                    </div>
                    <div id="help" class="collapse panel panel-default" style="margin-top:1em">
                        <div class="panel-heading">
                            <h3>Help</h3>
                        </div>
                        <div class="panel-body">
                            <p>This page shows the audit trail of MoneyCircles. The most important numbers are these:</p>
                            <ul>
                                <li><label>Total circle balance</label>: the combined balance of all Circles. Effectively this is the money that is owed by MoneyCircles to the Circle members.</li>
                                <li><label>Total financial reserves</label>: the financial reserves of MoneyCircles stored with Bitreserve. These reserves back up the Circle balances.</li>
                            </ul>
                            <p>In a normal situation, these numbers should be equal.</p>
                            <h3>Circle details</h3>
                            <p>You can explore the following statistics about all circles.</p>
                            <ul>
                                <li><label>Circle ID</label>: the unique ID of the Circle. Circle members can see this ID.</li>
                                <li><label>Smart contract address</label>: the address of the smart contract that governs this Circle. You can learn more about smart contracts under <em>Technical info</em>.</li>
                                <li><label>Total deposits</label>: the total amount deposited in the Circle.</li>
                                <li><label>Total active loans</label>: the total amount of loans that haven't been repaid.</li>
                                <li><label>Total repaid loans</label>: the total amount of historical loans, that have been repaid.</li>
                                <li><label>Balance</label>: the total balance of the Circle, which is calculated as <strong>Total deposits</strong> - <strong>Total active loans</strong>.</li>
                                <li><label>Available balance</label>: the balance that is available for new loans.</li>
                            </ul>
                            <h3>Financial transactions</h3>
                            <p>You can explore all financial transactions going in and out of MoneyCircles. This concerns deposits, withdrawals, loans and repayments.</p>
                            <ul>
                                <li><label>Transaction ID</label>: the Bitreserve transaction ID. Click on the link to see transaction details on the Bitreserve ReserveChain.</li>
                                <li><label>Date</label>: date/time of the transaction.</li>
                                <li><label>Debit</label>: the amount debited, i.e. sent from a Circle to a member.</li>
                                <li><label>Credit</label>: the amount credited, i.e. sent from a member to a Circle.</li>
                            </ul>
                        </div>
                    </div>
                    <div id="tech-info" class="collapse panel panel-default" style="margin-top: 1em">
                        <div class="panel-heading">
                            <h3>Technical information</h3>
                        </div>
                        <div class="panel-body">
                            <p>MoneyCircles uses a private blockchain based on <a href="https://www.ethereum.org" target="_blank">Ethereum</a>.</p>
                            <p>You can inspect the code and data of the smart contracts governing MoneyCircles yourself. Each of the Circles has a smart contract address, listed in the Circle details.</p>
                            <p>You can connect to our blockchain nodes with a recent version of <code>geth</code> or <code>eth</code> to the following address. We allow external nodes to connect and download the blockchain, but don't allow them to commit transactions.</p>
                            <pre>{{applicationInfo.blockchain.nodeUrl}}</pre>
                            <p>Use the following genesis block:</p>
                            <pre>{{applicationInfo.blockchain.genesisBlock | json }}</pre>
                            <p>To inspect the smart contracts, it's not required but helpful to have the source code at hand.</p>
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#contract-source-code" style="margin-bottom:1em;">Show contracts source code</button>
                            <pre class="collapse pre-scrollable" id="contract-source-code">{{applicationInfo.blockchain.smartContractSourceCode}}</pre>
                            <p>In this way you can verify that of the calculations on this page are reported correctly.</p>
                        </div>
                    </div>
                    <div><h3>Circle financials</h3></div>
                    <div ng-show="!items" style="margin-top:1em;">
                        <p><i>We're calculating the latest numbers, please bear with us...</i></p>
                    </div>
                    <div ng-show="items && items.length==0">
                        <p>There are no circles yet, therefore the audit shows no results.</p>
                    </div>
                    <div ng-show="items && items.length>0" style="margin-top:1em;">
                        <p><strong>Total circle balance:</strong> {{totals.balance | number : 2}} GBP</p>

                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#circle-list">Show circle details</button>

                        <table class="table table-striped collapse" id="circle-list">
                            <thead>
                                <tr>
                                    <th>Circle ID</th>
                                    <th>Smart contract address</th>
                                    <th>Total deposits</th>
                                    <th>Total active loans</th>
                                    <th>Total repaid loans</th>
                                    <th>Balance</th>
                                    <th>Available balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="stat in items track by stat.circle._id">
                                    <td><code>{{stat.circle._id}}</code></td>
                                    <td><code>{{stat.circle.contractAddress}}</code></td>
                                    <td>{{stat.statistics.totalDepositsAmount | number : 2}}</td>
                                    <td>{{stat.statistics.totalActiveLoansAmount | number : 2}}</td>
                                    <td>{{stat.statistics.totalRepaidLoansAmount | number : 2}}</td>
                                    <td>{{stat.statistics.balance | number : 2}}</td>
                                    <td>{{stat.statistics.availableBalance | number : 2}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Total</strong></td>
                                    <td></td>
                                    <td>{{totals.totalDepositsAmount | number : 2}}</td>
                                    <td>{{totals.totalActiveLoansAmount | number : 2}}</td>
                                    <td>{{totals.totalRepaidLoansAmount | number : 2}}</td>
                                    <td>{{totals.balance | number : 2}}</td>
                                    <td>{{totals.availableBalance | number : 2}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /.col-lg-4 (nested) -->
                    </div>
                    <div><h3>Financial reserves</h3></div>
                    <div ng-show="!vaultStatistics">
                        <p><i>Loading financial reserves data...</i></p>
                    </div>
                    <div ng-show="vaultStatistics">
                        <p><strong>Total financial reserves:</strong> {{vaultStatistics.balance}} GBP</p>

                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#vault-transactions">Show all transactions</button>

                        <div class="collapse" id="vault-transactions">

                            <h4>All transactions</h4>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Transaction ID</th>
                                        <th>Date</th>
                                        <th>Debit</th>
                                        <th>Credit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="transaction in vaultStatistics.transactions track by transaction.id">
                                        <td><code><a target="_blank" href="https://bitreserve.org/reserve/transactions/{{transaction.id}}">{{transaction.id}}</a></code></td>
                                        <td>{{transaction.createdAt}}</td>
                                        <td>{{transaction.debitAmount | number : 2}}</td>
                                        <td>{{transaction.creditAmount | number : 2}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Total</strong></td>
                                        <td></td>
                                        <td>{{vaultStatistics.totals.debitAmount | number : 2}}</td>
                                        <td>{{vaultStatistics.totals.creditAmount | number : 2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
</div>