    <div ng-show="circles.length==0">
        <div class="jumbotron">
            <div class="container">
                <h5>Money Circles</h5>
                <p>There are no circles yet. Why not <a href="/circle/new">create one</a>?</p>
            </div>
        </div>
    </div>
    <div ng-show="circles.length>0">
        <div class="jumbotron">
            <div class="container">
                <h5>Money Circles</h5>
                <p>You can join any circle to lend and invest money.</p>
            </div>
        </div>
    </div>
    <div class="container" ng-show="circles.length>0">
        <h5 class="mc-page-heading">My Circles</h5>
        <div class="row">
            <div ng-repeat="circle in circles | filter: {userIsMember: true} track by circle._id" class="col-lg-4 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/circle/{{circle._id}}"><h4>{{circle.name}}</h4></a>
                        <p>{{circle.commonBond}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" ng-show="circles.length>0">
        <h5 class="mc-page-heading">{{(circles | filter: {userIsMember: '!'}).length}} Circles Available</h5>
        <div class="row">
            <div ng-repeat="circle in circles | filter: {userIsMember: '!'} track by circle._id" class="col-lg-4 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/circle/{{circle._id}}"><h4>{{circle.name}}</h4></a>
                        <p>{{circle.commonBond}}</p>
                        <a class="btn btn-primary btn-block" href="/circle/{{circle._id}}/join">Join this circle!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
