<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" id="page-header">Join a circle</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{{circle.name}}</h2>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            Do you want to join <strong>{{circle.name}}</strong>?
                        </p>
                        <form role="form" name="circleForm" novalidate>
                            <button name="saveButton" ng-click="vm.joinConfirm()" ng-disabled="circleForm.$invalid" class="btn btn-primary">
                                Join this circle
                            </button>
                        </form>

                        <div class="panel panel-danger" style="margin-top:1em;" ng-show="errorMessage">
                            <div class="panel-heading">There was an error processing your request.</div>
                            <div class="panel-body">{{errorMessage}}</div>
                        </div>
                        <div class="panel panel-success" style="margin-top:1em;" ng-show="successMessage">
                            <div class="panel-heading">Success</div>
                            <div class="panel-body">{{successMessage}}</div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-8 (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
