
<div class="container">
    <ol class="breadcrumb mc-breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/circle/list">Circles</a></li>
      <li class"active">{{circle.name}}</li>
    </ol>
</div>
<div class="container">
    <div class="panel panel-danger" ng-show="errorMessage">
        <div class="panel-heading">There was an error processing your request.</div>
        <div class="panel-body">{{errorMessage}}</div>
    </div>
    <div class="jumbotron">
        <h2>{{circle.name}}</h2>
        <p class="text-muted">{{circle.commonBond}}</p>

        <form role="form" name="circleForm" novalidate>
            <a href="/circle/{{circle._id}}/deposit" class="btn btn-brand">
                Invest money
            </a>
            <a href="/circle/{{circle._id}}/loan" class="btn btn-primary">
                Borrow money
            </a>
            <span class="small pull-right text-right">Smart Contact Address:<br><span class="text-muted">{{circle.contractAddress}}</span></span>
        </form>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Statistics
        </div>
        <div class="panel-body" ng-hide="statistics">
            Crunching the numbers to get you the latest Circle statistics, please bear with us...
        </div>
        <div class="list-group" ng-show="statistics">
            <a href="#" class="list-group-item">Circle balance: <span class="pull-right text-muted">{{statistics.balance | number: 2}} GBP</span></a>
            <a href="#" class="list-group-item">Circle available balance: <span class="pull-right text-muted">{{statistics.availableBalance | number: 2 }} GBP</span></a>
            <a href="#" class="list-group-item">Your balance: <span class="pull-right text-muted">{{statistics.memberBalance | number: 2 }} GBP</span></a>
            <a href="#" class="list-group-item">Total amount of active loans: <span class="pull-right text-muted">{{statistics.totalActiveLoansAmount | number: 2 }} GBP</span></a>
            <a href="#" class="list-group-item">Total amount of repaid loans: <span class="pull-right text-muted">{{statistics.totalRepaidLoansAmount | number: 2 }} GBP</span></a>
            <a href="#" class="list-group-item">Total amount of deposits: <span class="pull-right text-muted">{{statistics.totalDepositsAmount | number: 2 }} GBP</span></a>
        </div>
    </div>
</div>
