<div ng-show="loans.length==0">
    <div class="jumbotron">
        <div class="container">
            <h5>My Loans</h5>
            <p>You haven't taken out any loans yet. Why not <a href="/circle/list">find a Circle</a> to get a loan?</p>
        </div>
    </div>
</div>
<div ng-show="loans.length>0">
    <div class="jumbotron">
        <div class="container">
            <h5>My Loans</h5>
            <p>You can check your active loans below.</p>
        </div>
    </div>
</div>
<div class="container" ng-show="loans.length>0">
    <div class="row">
        <div class="col-md-6">
            <h5 class="mc-page-heading">Active Loans</h5>
            <div class="panel panel-default" ng-repeat="loan in loans | filter: {repaymentTransactionId: '!'} track by loan._id">
                <div class="panel-body">
                    <h4>{{loan.purpose}}</h4>
                    <p>Amount: {{loan.amount}} GBP</p>
                    <p>Borrowed from: <a href="/circle/{{loan.circleId._id}}">{{loan.circleId.name}}</a></p>
                    <p ng-show="loan.transactionId">See the <a href="https://bitreserve.org/reserve/transactions/{{loan.transactionId}}" target="_blank">payout transaction</a></p>
                    <a class="btn btn-primary btn-block" ng-hide="loan.repaymentTransactionId" href="/loan/{{loan._id}}/repay">Repay this loan</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h5 class="mc-page-heading">Repaid Loans</h5>
            <div class="panel panel-default" ng-repeat="loan in loans | filter: {repaymentTransactionId: ''} track by loan._id">
                <div class="panel-body">
                    <h4>{{loan.purpose}}</h4>
                    <p>Amount: {{loan.amount}} GBP</p>
                    <p>Borrowed from: <a href="/circle/{{loan.circleId._id}}">{{loan.circleId.name}}</a></p>
                    <p ng-show="loan.transactionId">See the <a href="https://bitreserve.org/reserve/transactions/{{loan.transactionId}}" target="_blank">payout transaction</a></p>
                    <p>See the <a href="https://bitreserve.org/reserve/transactions/{{loan.repaymentTransactionId}}" target="_blank">repayment transaction</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
