<div>
    <div class="row" ng-show="loans.length==0">
        <div class="col-lg-12">
            <h1 class="page-header" id="page-header">You haven't taken out any loans yet</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row" ng-show="loans.length==0">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Create one
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <p>You haven't taken out any loans yet. Why not <a href="/circle/list">find a Circle to get a loan</a>?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="loans.length>0">
        <div class="col-lg-12">
            <h1 class="page-header" id="page-header">My loans</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row" ng-show="loans.length>0">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Active loans</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div ng-repeat="loan in loans | filter: {repaymentTransactionId: '!'} track by loan._id" class="col-lg-4 col-md-6">
                            <div class="well well-transparent">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3>{{loan.purpose}}</h3>
                                        <p>Borrowed from: {{loan.circleId.name}}</p>
                                        <p>Amount: {{loan.amount | number: 2}} GBP</p>
                                        <p>Interest percentage: {{loan.interestPercentage | number: 2}}%</p>
                                        <p>Amount to repay: {{loan.amountToRepay | number: 2}} GBP</p>
                                        <p ng-show="loan.transactionId">See the <a href="https://bitreserve.org/reserve/transactions/{{loan.transactionId}}" target="_blank">payout transaction</a></p>
                                        <div class="col-lg-12">
                                            <div class="btn-group">
                                                <a class="btn" href="/circle/{{loan.circleId._id}}">Go to the circle</a>
                                                <a class="btn btn-primary" ng-hide="loan.repaymentTransactionId" href="/loan/{{loan._id}}/repay">Repay this loan</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-4 (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row" ng-show="loans.length>0">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Repaid loans</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div ng-repeat="loan in loans | filter: {repaymentTransactionId: ''} track by loan._id" class="col-lg-4 col-md-6">
                            <div class="well well-transparent">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3>{{loan.purpose}}</h3>
                                        <p>Borrowed from: {{loan.circleId.name}}</p>
                                        <p>Amount: {{loan.amount | number: 2}} GBP</p>
                                        <p>Interest percentage: {{loan.interestPercentage | number: 2}}%</p>
                                        <p>Amount to repay: {{loan.amountToRepay | number: 2}} GBP</p>
                                        <p ng-show="loan.transactionId">See the <a href="https://bitreserve.org/reserve/transactions/{{loan.transactionId}}" target="_blank">payout transaction</a></p>
                                        <p>See the <a href="https://bitreserve.org/reserve/transactions/{{loan.repaymentTransactionId}}" target="_blank">repayment transaction</a></p>
                                        <div class="col-lg-12">
                                            <div class="btn-group">
                                                <a class="btn" href="/circle/{{loan.circleId._id}}">Go to the circle</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-4 (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
