<div class="jumbotron" ng-hide="isGlobalAdmin">
	<div class="container">
	    <h5>Welcome</h5>
	    <p>Hello {{userInfo.name}}, you have successfully logged in.</p>
	    <a class="btn btn-brand" href="/circle/new">Create a new circle</a>
	    <a class="btn btn-primary" href="/circle/list">Join a circle</a>
    </div>
</div>
<div class="jumbotron" ng-show="isGlobalAdmin">
	<div class="container">
	    <h5>Global administrator</h5>
	    <p>Hello {{userInfo.name}}, you have successfully logged in.</p>
	    <p>Your access token has been stored for the app to use. You can now close this window.</p>
    </div>
</div>
