<div class="panel panel-default">
    <div class="panel-body">
        <h1>Welcome</h1>
        <p class="lead">You will be redirected to the login provider to authenticate.<br>After authentication, you'll get back to MoneyCircles.</p>
        <!--These links should not be processed by Angular, therefore use target="_self".-->
        <!--<p><a target="_self" href="/api/auth/github">Log in with Github</a></p>-->
        <p>
            <a target="_self" href="/api/auth/bitreserve">
                <img src="images/uphold-connect-with-gray@1x.png">
            </a>
        </p>
    </div>
</div>
