<div class="jumbotron">
    <h1>MoneyCircles</h1>
    <p class="lead">Welcome. Please log in below.</p>
    <p class="small">You will be redirected to the login provider to authenticate. After authentication, you'll get back to MoneyCircles.</p>
    <!--These links should not be processed by Angular, therefore use target="_self".-->
    <!--<p><a target="_self" href="/api/auth/github">Log in with Github</a></p>-->
    <p>
        <a target="_self" href="/api/auth/bitreserve">
            <img src="https://developer.bitreserve.org/api/v0/images/buttons/bitreserve-connect-with-purple@1x.png">
        </a>
    </p>
</div>
