<div class="jumbotron" ng-hide="isGlobalAdmin">
    <h1>Welcome</h1>
    <p>Hello {{userInfo.name}}, you have successfully logged in.</p>
    <a class="btn btn-primary" href="/circle/new">Create a new circle</a>
    <a class="btn btn-primary" href="/circle/list">Join a circle</a>
</div>
<div class="jumbotron" ng-show="isGlobalAdmin">
    <h1>Global administrator</h1>
    <p>Hello {{userInfo.name}}, you have successfully logged in.</p>
    <p>Your access token has been stored for the app to use. You can now close this window.</p>
</div>
